{{define "header"}}
<html>
  <head>
    <title>Ahgora.com.br</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
    <link rel="stylesheet" type="text/css" href="./static/js/Semantic-UI/dist/semantic.css">
    <link rel="stylesheet" type="text/css" href="./static/js/Semantic-UI/dist/components/reset.css">
    <link rel="stylesheet" type="text/css" href="./static/js/Semantic-UI/dist/components/site.css">
    <link rel="stylesheet" type="text/css" href="./static/js/Semantic-UI/dist/components/grid.css">
    <link rel="stylesheet" type="text/css" href="./static/js/Semantic-UI/dist/components/icon.css">
    <link rel="stylesheet" type="text/css" href="./static/js/Semantic-UI/dist/components/input.css">
    <link rel="stylesheet" type="text/css" href="./static/js/Semantic-UI/dist/components/button.css">
    <link rel="stylesheet" type="text/css" href="./static/js/Semantic-UI/dist/components/divider.css">
    <link rel="stylesheet" type="text/css" href="./static/js/Semantic-UI/dist/components/label.css">
    <link rel="stylesheet" type="text/css" href="./static/js/Semantic-UI/dist/components/dropdown.css">
    <link rel="stylesheet" type="text/css" href="./static/js/Semantic-UI/dist/components/transition.css">
    <link rel="stylesheet" type="text/css" href="./static/js/Semantic-UI/dist/components/popup.css">
    <link rel="stylesheet" type="text/css" href="./static/js/Semantic-UI/dist/semantic.min.css" />

    <script type="text/javascript" src="./static/js/jquery-3.1.1.min.js"></script>

    <script type="text/javascript" src="./static/js/iframe.js"></script>
    <script type="text/javascript" src="./static/js/Semantic-UI/dist/components/popup.js"></script>
    <script type="text/javascript" src="./static/js/Semantic-UI/dist/components/dropdown.js"></script>
    <script type="text/javascript" src="./static/js/Semantic-UI/dist/components/transition.js"></script>
    <script type="text/javascript" src="./static/js/Semantic-UI/dist/semantic.min.js"></script>

    <link rel="stylesheet" href="/static/js/Leaflet.draw/docs/examples/libs/leaflet.css" />
    <link rel="stylesheet" href="./static/js/Leaflet.draw/dist/leaflet.draw.css" />

    <script src="/static/js/Leaflet.draw/docs/examples/libs/leaflet-src.js"></script>

    <script src="./static/js/Leaflet.draw/src/Leaflet.draw.js"></script>
    <script src="./static/js/Leaflet.draw/src/Leaflet.Draw.Event.js"></script>

    <script src="./static/js/Leaflet.draw/src/edit/handler/Edit.Poly.js"></script>
    <script src="./static/js/Leaflet.draw/src/edit/handler/Edit.SimpleShape.js"></script>
    <script src="./static/js/Leaflet.draw/src/edit/handler/Edit.Circle.js"></script>
    <script src="./static/js/Leaflet.draw/src/edit/handler/Edit.Rectangle.js"></script>
    <script src="./static/js/Leaflet.draw/src/edit/handler/Edit.Marker.js"></script>

    <script src="./static/js/Leaflet.draw/src/draw/handler/Draw.Feature.js"></script>
    <script src="./static/js/Leaflet.draw/src/draw/handler/Draw.Polyline.js"></script>
    <script src="./static/js/Leaflet.draw/src/draw/handler/Draw.Polygon.js"></script>
    <script src="./static/js/Leaflet.draw/src/draw/handler/Draw.SimpleShape.js"></script>
    <script src="./static/js/Leaflet.draw/src/draw/handler/Draw.Rectangle.js"></script>
    <script src="./static/js/Leaflet.draw/src/draw/handler/Draw.Circle.js"></script>
    <script src="./static/js/Leaflet.draw/src/draw/handler/Draw.Marker.js"></script>

    <script src="./static/js/Leaflet.draw/src/ext/TouchEvents.js"></script>
    <script src="./static/js/Leaflet.draw/src/ext/LatLngUtil.js"></script>
    <script src="./static/js/Leaflet.draw/src/ext/GeometryUtil.js"></script>
    <script src="./static/js/Leaflet.draw/src/ext/LineUtil.Intersect.js"></script>
    <script src="./static/js/Leaflet.draw/src/ext/Polyline.Intersect.js"></script>
    <script src="./static/js/Leaflet.draw/src/ext/Polygon.Intersect.js"></script>

    <script src="./static/js/Leaflet.draw/src/Control.Draw.js"></script>
    <script src="./static/js/Leaflet.draw/src/Tooltip.js"></script>
    <script src="./static/js/Leaflet.draw/src/Toolbar.js"></script>

    <script src="./static/js/Leaflet.draw/src/draw/DrawToolbar.js"></script>
    <script src="./static/js/Leaflet.draw/src/edit/EditToolbar.js"></script>
    <script src="./static/js/Leaflet.draw/src/edit/handler/EditToolbar.Edit.js"></script>
    <script src="./static/js/Leaflet.draw/src/edit/handler/EditToolbar.Delete.js"></script>

    <script src="./static/js/Leaflet.draw/docs/examples/libs/leaflet.snap.js"></script>
    <script src="/static/js/Leaflet.draw/docs/examples/libs/leaflet.geometryutil.js"></script>

    <script src="/static/js/index/stateMachine.js"></script>
    <script src="/static/js/index/map.js"></script>
    <script src="/static/js/index/map.pt-br.js"></script>
    <script src="/static/js/index/search.js"></script>

    <script type="text/javascript">

      //var polygon;

      var getPointsEventOkPositive = false;

      function uniqueId() {
        var id = new Date().getTime().toString(16);

        id = id.concat( Math.floor((1 + Math.random()) * 0xFFFFFFFFFFFFF).toString(16) );
        id = id.concat( Math.floor((1 + Math.random()) * 0xFFFFFF).toString(16) );

        return id
      }

      var empresas;
      var batidas;

      var dataToSend = {
        PointsList: [],
        Type: []
      };

      function getBatidas ( map ){
        $.ajax({
          type: "POST",
          url: "./getBatidas/",
          data: JSON.stringify( dataToSend ),
          success: function( data ){
            console.log( "data:", data );
            for( var i in data.Objects ){

              var t = '<div class="ui cards">' +
                      '<div class="card">' +
                      '<div class="content">' +
                      '<img class="right floated mini ui image" src="./static/images/elliot.jpg">' +
                      '<div class="header">' +
                      data.Objects[i].Nome +
                      '</div>' +
                      '<div class="meta">' +
                      'Empresa: ' +
                      data.Objects[i].Empresa +
                      ' Matricula:  ' +
                      data.Objects[i].Matricula +
                      '</div>' +
                      '<div class="description">' +
                      data.Objects[i].Date +
                      '</div>' +
                      '</div>' +
                      '<div class="extra content">' +
                      '<div class="ui two buttons">' +
                      '<div class="ui basic blue button">Empresas</div>' +
                      '<div class="ui basic blue button">Proximidades</div>' +
                      '</div>' +
                      '</div>' +
                      '</div>';
              var LeafIcon = L.Icon.extend({
                options: {
                  shadowUrl: './static/js/Leaflet.draw/docs/examples/libs/images/marker-shadow.png'
                }
              });

              var greenIcon = new LeafIcon({iconUrl: './static/js/Leaflet.draw/docs/examples/libs/images/marker-icon-red.png'});
              L.marker([data.Objects[i].Loc[1], data.Objects[i].Loc[0]], {icon: greenIcon}).bindPopup(t).addTo(map);
            }

            $('.addPoint').removeClass('disabled');

            if( getPointsEventOkPositive == false ) {
              $('.getPointsEventOk').modal('show');

              $('.getPointsEventOkPositive').click(function () {
                getPointsEventOkPositive = true;
                //console.log("getPointsEventOkPositive:",getPointsEventOkPositive);
              });
            }
          },
          dataType: "json"
        });
      }

      function getPoints ( map ){
        $.ajax({
          type: "POST",
          //url: "./getPoints/",
          url: "./getPro/",
          data: JSON.stringify( dataToSend ),
          success: function( data ){
            console.log( "data:", data );
            for( var i in data.Objects ){

              var text = "";

              for( var t in data.Objects[i].Tag ){
                text += "<b>" + t + ":</b> " + data.Objects[i].Tag[t] + "<br>";
                //console.log( t, data.Objects[i].Tag[t] );
              }


              var t = '<div class="ui cards">' +
                      '<div class="card">' +
                      '<div class="content">' +
                      '<img class="right floated mini ui image" src="./static/images/elliot.jpg">' +
                      '<div class="header">' +
                      'Elliot Fu' +
                      '</div>' +
                      '<div class="meta">' +
                      'Friends of Veronika' +
                      '</div>' +
                      '<div class="description">' +
                      'Elliot requested permission to view your contact details' +
                      '</div>' +
                      '</div>' +
                      '<div class="extra content">' +
                      '<div class="ui two buttons">' +
                      '<div class="ui basic blue button">Approve</div>' +
                      '<div class="ui basic blue button">Decline</div>' +
                      '</div>' +
                      '</div>' +
                      '</div>';
              L.marker([data.Objects[i].Loc[1], data.Objects[i].Loc[0]]).bindPopup(text).addTo(map);
            }

            if( getPointsEventOkPositive == false ) {
              $('.getPointsEventOk').modal('show');

              $('.getPointsEventOkPositive').click(function () {
                getPointsEventOkPositive = true;
                //console.log("getPointsEventOkPositive:",getPointsEventOkPositive);
              });
            }
          },
          dataType: "json"
        });
      }

      $( document ).ready(
        function() {

          mapOnDocumentReady();
          gOsmServerOnSearchOnDocumentReady();
          gOsmServerOnSearchRegisterFunc();


          /*
          // original
          var polygon = L.polygon([
            [-27.50655, -48.51337],
            [-27.50872, -48.51296],
            [-27.50843, -48.51203],
            [-27.50787, -48.51166],
            [-27.50779, -48.51183],
            [-27.50743, -48.51182],
            [-27.50655, -48.51337]
          ]).addTo(map);
/*
          var polygon = L.polygon([
            [-27.50579, -48.51390],
            [-27.50958, -48.51329],
            [-27.50917, -48.51146],
            [-27.50803, -48.51066],
            [-27.50789, -48.51083],
            [-27.50708, -48.51090],
            [-27.50579, -48.51390]
          ]).addTo(map);

          var polygon = L.polygon([
            [-27.50694, -48.51312],
            [-27.50830, -48.51281],
            [-27.50806, -48.51232],
            [-27.50779, -48.51216],
            [-27.50775, -48.51234],
            [-27.50761, -48.51229],
            [-27.50694, -48.51312]
          ]).addTo(map);

          var polygon = L.polygon([
            [-27.50919, -48.51596],
            [-27.50905, -48.51570],
            [-27.50875, -48.51571],
            [-27.50856, -48.51549],
            [-27.50825, -48.51557],
            [-27.50802, -48.51544],
            [-27.50805, -48.51536],
            [-27.50740, -48.51469],
            [-27.50699, -48.51496],
            [-27.50679, -48.51526],
            [-27.50662, -48.51515],
            [-27.50674, -48.51485],
            [-27.50659, -48.51471],
            [-27.50615, -48.51479],
            [-27.50606, -48.51435],
            [-27.50572, -48.51442],
            [-27.50584, -48.51503],
            [-27.50550, -48.51543],
            [-27.50559, -48.51567],
            [-27.50571, -48.51567],
            [-27.50578, -48.51590],
            [-27.50548, -48.51613],
            [-27.50642, -48.51733],
            [-27.50679, -48.51685],
            [-27.50704, -48.51715],
            [-27.50716, -48.51704],
            [-27.50700, -48.51682],
            [-27.50711, -48.51667],
            [-27.50739, -48.51665],
            [-27.50759, -48.51649],
            [-27.50771, -48.51661],
            [-27.50748, -48.51689],
            [-27.50777, -48.51724],
            [-27.50830, -48.51664],
            [-27.50865, -48.51702],
            [-27.50876, -48.51618],
            [-27.50898, -48.51617],
            [-27.50919, -48.51596]
          ]).addTo(map);

          var polygon = L.polygon([
            [-27.51099, -48.51599],
            [-27.51084, -48.51549],
            [-27.51054, -48.51548],
            [-27.51030, -48.51497],
            [-27.50998, -48.51504],
            [-27.50965, -48.51458],
            [-27.50964, -48.51442],
            [-27.50788, -48.51274],
            [-27.50676, -48.51295],
            [-27.50595, -48.51347],
            [-27.50559, -48.51349],
            [-27.50611, -48.51295],
            [-27.50582, -48.51288],
            [-27.50492, -48.51332],
            [-27.50499, -48.51272],
            [-27.50443, -48.51301],
            [-27.50432, -48.51395],
            [-27.50377, -48.51489],
            [-27.50381, -48.51537],
            [-27.50394, -48.51535],
            [-27.50398, -48.51587],
            [-27.50369, -48.51636],
            [-27.50556, -48.51911],
            [-27.50616, -48.51875],
            [-27.50694, -48.51917],
            [-27.50727, -48.51906],
            [-27.50678, -48.51883],
            [-27.50714, -48.51870],
            [-27.50813, -48.51850],
            [-27.50885, -48.51794],
            [-27.50898, -48.51804],
            [-27.50821, -48.51874],
            [-27.50867, -48.51900],
            [-27.50989, -48.51759],
            [-27.51017, -48.51810],
            [-27.51054, -48.51645],
            [-27.51077, -48.51640],
            [-27.51099, -48.51599]
          ]).addTo(map);

          L.circle([-27.50710,-48.51592], {
            color: 'red',
            fillColor: '#f03',
            fillOpacity: 0.5,
            radius: 0.1
          }).addTo(map);

          L.circle([-27.50710,-48.51592], {
            color: 'red',
            fillColor: '#f03',
            fillOpacity: 0.2,
            radius: 232.57 + 200
          }).addTo(map);


          L.rectangle([[-27.50548,-48.51733], [-27.50919,-48.51435]], {color: "#ff7800", weight: 1}).addTo(map);
          L.rectangle([[-27.503693427521718,-48.51917402667859], [-27.510987697621,-48.51272421893006]], {color: "#ff7800", weight: 1}).addTo(map);
*/
          // Set the title to show on the polygon button
          //L.drawLocal.draw.toolbar.buttons.polygon = 'Draw a sexy polygon!';









          /*coordinate = new L.Draw.Polygon(map, {
            showArea: true,
            allowIntersection: false,
            shapeOptions: {
              color: '#FFF'
            }
          });*/


          //$(".leaflet-bar").hide();
          //$(".leaflet-draw-toolbar-top").hide();



          //$(".leaflet-draw-draw-polygon").hide();
          //$(".leaflet-draw-draw-polyline").hide();
          //$(".leaflet-draw-draw-rectangle").hide();
          //$(".leaflet-draw-draw-marker").hide();

          //$( ".getPoints" ).click(function() {
          //  $('.ui.sidebar').sidebar('hide');
          //  //$(".leaflet-draw-draw-polygon").show();
          //  drawControl._toolbars[L.DrawToolbar.TYPE]._modes.polygon.handler.enable()
          //});

          //$( ".viewBatidas" ).click(function() {
          //  $('.ui.sidebar').sidebar('hide');
          //  getBatidas( map );
          //});

          //$( ".viewPoints" ).click(function() {
          //  $('.ui.sidebar').sidebar('hide');
          //
          //  getPoints( map );
          //});

          //$('.accordion').accordion({selector: {trigger: '.title'}});













          $('.mapPanelModify').click( function() {
            $(".leaflet-draw-toolbar").show();
            $(".mapPanelSaveCancelButtons").show();
            $(".panelControlButtons").hide();
          });//panelControlMainButtons

          $('.mapPanelClose').click( function(){
            $(".leaflet-draw-toolbar").hide();
            $(".panelCancelButtons").hide();
            $(".mapPanelSaveCancelButtons").show();
          });

          $('.mapPanelSearch').click( function(){
            //$('.mapPanelSearch').popup('show');
          });

          $(".leaflet-draw-toolbar").hide();

        });
    </script>
  </head>
  <style>
    #map {
      width: 100%;
      height: 100%;
    }

    .smallButton{
      width:29px !important;
      height: 33px !important;
    }
    .smallButton.borda{
      border: #bebebe !important;
      border-style: solid !important;
      border-width: 0.0px 0px 0.5px 0px !important;
    }
    .ui.search {
        font-size: 0.9em;
    }
    .ui.popup > .ui.search > .results > .category  {
        width: 100%;
    }
    .ui.popup > .ui.search > .results > .category > .result  {
        width: 249px;
        height: 100%;
        text-align: left;
    }
    .ui.popup {
        width: 265px;
    }
    .ui.popup > .ui.dropdown {
        width: 35px;
        height: 34px;
        float: left;
        border-radius: 500rem 0rem 0rem 500rem !important;
    }
    .ui.popup > .ui.search {
        float: left;
    }
    .ui.popup > .ui.search > .input > .prompt {
        border-radius: 0rem 500rem 500rem 0rem !important;
    }

  </style>
  <body>

  <div class="ui sidebar write vertical menu">
    <div class="control-content" style="margin: 50px 15px;">
      <h3 class="ui header">Painel de controle.</h3>
      <p class="control-content content">
        Esta é uma demonstração da ferramenta de mapas e suas possibilidades.
      </p>
    </div>
    <div class="ui styled fluid accordion">
      <div class="title">
        <i class="dropdown icon"></i>
        Cerca virtual
      </div>
      <div class="content">
        <p class="transition hidden">A cerca virtual é uma ferramenta usada para delimitar uma área de ação e pode ser usada como alarme ou controle de área onde eventos acontecem.</p>
        <p class="transition hidden">Para esta demonstração, a cerca virtual vai ser usada como ferramenta de busca, procurando por locais de trabalho cadastrados pelo cliente ou batidas feitas por seus funcionários.</p>

        <p class="transition hidden">Quais tipos de informações você gostaria de ver dentro da cerca virtual?</p>

        <p class="transition hidden">
          <button class="ui primary button getPoints">
            Ad. cerca
          </button>
          <br>
          <br>
          O que você deseja ver?
          <br>
          <br>
          <button class="ui disabled button viewBatidas">
            Batidas
          </button>
          <button class="ui disabled button viewPoints">
            Locais
          </button>
        </p>
      </div>
      <div class="title">
        <i class="dropdown icon"></i>
        O que tem de bom aqui?
      </div>
      <div class="content">
        <p class="transition hidden">A ferramenta de mapas pode trazer muitas informações importantes na hora de se planejar um negócio.</p>
        <p class="transition hidden">Uma dessas informações é poder saber tudo o que se tem nas redondezas. Para isto, mantenha o mouse pressionado e desenhe um retângulo, para pesquisar em uma determinada área do mapa.</p>
        <p class="transition hidden">
          <button class="ui primary button addRectangle">
            Pesquisa
          </button>
        </p>
      </div>
      <div class="title">
        <i class="dropdown icon"></i>
        How do you acquire a dog?
      </div>
      <div class="content">
        <p class="transition hidden">Three common ways for a prospective owner to acquire a dog is from pet shops, private owners, or shelters.</p>
        <p class="transition hidden">A pet shop may be the most convenient way to buy a dog. Buying a dog from a private owner allows you to assess the pedigree and upbringing of your dog before choosing to take it home. Lastly, finding your dog from a shelter, helps give a good home to a dog who may not find one so readily.</p>
      </div>
    </div>


  </div>
  <div class="pusher">
    <div id="map"></div>
  </div>
  </body>
</html>


<div class="ui modal getPointsEventOk">
  <i class="close icon"></i>
  <div class="header">
    Polígono adicionado
  </div>
  <div class="image content">
    <div class="ui medium image">
      <i class="massive object group icon"></i>
    </div>
    <div class="description">
      <div class="ui header">Um novo polígono foi adicionado ao banco de dados.</div>
      <p>Este polígono foi adicionado com sucesso ao banco de dados, e de agora em diante, ele pode ser usado para
        monitorar a ocorrência de eventos.</p>
    </div>
  </div>
  <div class="actions">
    <div class="ui positive right labeled icon button getPointsEventOkPositive">
      Ok, entendi.
      <i class="checkmark icon"></i>
    </div>
  </div>
</div>

<div class="ui modal addMarkerEventOk">
  <i class="close icon"></i>
  <div class="header">
    Evento registrado
  </div>
  <div class="image content">
    <div class="ui medium image">
      <i class="massive object group icon"></i>
    </div>
    <div class="description">
      <div class="ui header">Um novo evento foi registrado no banco de dados</div>
      <p>Todo evento pode ser referenciado tanto no tempo quanto no espaço, assim, pode-se gerar relatórios de
        ocorrências para todos os eventos que aconteceram dentro de um determinado período de tempo, usando-se datas, e
        espaço, usando-se <b>cercas virtuais</b>.</p>
      <p>Ou seja, pode-se ser gerado um relatório de todos os eventos registrados na cerca virtual <b>Corporate Park</b>
        no dia 22 de novembro de 2016 as 8:00h as 12:00h</p>
    </div>
  </div>
  <div class="actions">
    <div class="ui positive right labeled icon button addMarkerEventOkPositive">
      Ok, entendi.
      <i class="checkmark icon"></i>
    </div>
  </div>
</div>


{{end}}