{{define "index"}}<!doctype html>
<html lang="en">
<head>
  <link rel="stylesheet" href="./static/font/Font-Awesome/css/font-awesome.min.css">
  <!--link rel="stylesheet" href="https://openlayers.org/en/v4.1.1/css/ol.css" type="text/css"-->
  <style>
    .map {
      height: 100%;
      width: 100%;
    }

    div.tooltip {
      position: absolute;
      text-align: center;
      width: 160px;
      height: 28px;
      padding: 2px;
      font: 12px sans-serif;
      background: lightsteelblue;
      border: 0px;
      border-radius: 8px;
      pointer-events: none;
    }
  </style>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">

  <script src="./static/js/jquery.min.js"></script>

  <script src="./static/js/Leaflet.draw/docs/examples/libs/leaflet-src.js"></script>
  <link rel="stylesheet" href="./static/js/Leaflet.draw/docs/examples/libs/leaflet.css"/>

  <script src="./static/js/Leaflet.draw/src/Leaflet.draw.js"></script>
  <script src="./static/js/Leaflet.draw/src/Leaflet.Draw.Event.js"></script>
  <link rel="stylesheet" href="./static/js/Leaflet.draw/src/leaflet.draw.css"/>

  <script src="./static/js/Leaflet.draw/src/Toolbar.js"></script>
  <script src="./static/js/Leaflet.draw/src/Tooltip.js"></script>

  <script src="./static/js/Leaflet.draw/src/ext/GeometryUtil.js"></script>
  <script src="./static/js/Leaflet.draw/src/ext/LatLngUtil.js"></script>
  <script src="./static/js/Leaflet.draw/src/ext/LineUtil.Intersect.js"></script>
  <script src="./static/js/Leaflet.draw/src/ext/Polygon.Intersect.js"></script>
  <script src="./static/js/Leaflet.draw/src/ext/Polyline.Intersect.js"></script>
  <script src="./static/js/Leaflet.draw/src/ext/TouchEvents.js"></script>

  <script src="./static/js/Leaflet.draw/src/draw/DrawToolbar.js"></script>
  <script src="./static/js/Leaflet.draw/src/draw/handler/Draw.Feature.js"></script>
  <script src="./static/js/Leaflet.draw/src/draw/handler/Draw.SimpleShape.js"></script>
  <script src="./static/js/Leaflet.draw/src/draw/handler/Draw.Polyline.js"></script>
  <script src="./static/js/Leaflet.draw/src/draw/handler/Draw.Circle.js"></script>
  <script src="./static/js/Leaflet.draw/src/draw/handler/Draw.Marker.js"></script>
  <script src="./static/js/Leaflet.draw/src/draw/handler/Draw.Polygon.js"></script>
  <script src="./static/js/Leaflet.draw/src/draw/handler/Draw.Rectangle.js"></script>


  <script src="./static/js/Leaflet.draw/src/edit/EditToolbar.js"></script>
  <script src="./static/js/Leaflet.draw/src/edit/handler/EditToolbar.Edit.js"></script>
  <script src="./static/js/Leaflet.draw/src/edit/handler/EditToolbar.Delete.js"></script>

  <script src="./static/js/Leaflet.draw/src/Control.Draw.js"></script>

  <script src="./static/js/Leaflet.draw/src/edit/handler/Edit.Poly.js"></script>
  <script src="./static/js/Leaflet.draw/src/edit/handler/Edit.SimpleShape.js"></script>
  <script src="./static/js/Leaflet.draw/src/edit/handler/Edit.Circle.js"></script>
  <script src="./static/js/Leaflet.draw/src/edit/handler/Edit.Rectangle.js"></script>
  <script src="./static/js/Leaflet.draw/src/edit/handler/Edit.Marker.js"></script>



  <title>OpenLayers example</title>


  <style>
    #map {
      width: 100%;
      height: 1000px;
    }



  </style>
</head>
<body>
<div id="map" class="map"></div>
<script type="text/javascript">

  var map;
  var idUnique = 0;
  var dataToSend = [];
  /*var dataToSend = {
    PointsList: [],
    Type: []
  };*/

  function parse_query_string(query) {
      var vars = query.split("&");
      var query_string = {};
      for (var i = 0; i < vars.length; i++) {
          var pair = vars[i].split("=");
          // If first entry with this name
          if (typeof query_string[pair[0]] === "undefined") {
              query_string[pair[0]] = decodeURIComponent(pair[1]);
              // If second entry with this name
          } else if (typeof query_string[pair[0]] === "string") {
              var arr = [query_string[pair[0]], decodeURIComponent(pair[1])];
              query_string[pair[0]] = arr;
              // If third or later entry with this name
          } else {
              query_string[pair[0]].push(decodeURIComponent(pair[1]));
          }
      }
      return query_string;
  }

  function onMapEvent( event, type ){
    switch ( event ){
      case "edited":
      case "deleted":
      case "added":
      case "nameerror":
      case "locationerror":
      case "locationchange":
      case "namechange":

        break;

      case "drawstart":
      case "drawstop":
      case "editstart":
      case "editstop":
      case "deletestart":
      case "deletestop":
        break;

      case "sendok":
        break;

      case "senderror":
        break;

      case "sendclick":
      case "emptydata":
        break;

      case "cancelclick":
        break;
    }
  }
  
  $( document ).ready(
    function() {

      // tradução
      // https://leaflet.github.io/Leaflet.draw/docs/leaflet-draw-latest.html
      L.drawLocal = {
        draw: {
          toolbar: {
            actions: {
              title: 'Cancelar o desenho',
              text: 'Cancelar'
            },
            finish: {
              title: 'Terminar o desenho',
              text: 'Terminar'
            },
            undo: {
              title: 'Apagar o último ponto adicionado',
              text: 'Apagar o último ponto'
            },
            buttons: {
              polyline: 'Desenhar uma linha',
              polygon: 'Desenhar um polígono complexo com vários pontos',
              rectangle: 'Desenhar uma área retangular simples',
              circle: 'Desenhar um círculo',
              marker: 'Adicionar uma marca'
            }
          },
          handlers: {
            circle: {
              tooltip: {
                start: 'Clique e arraste para desenhar um círculo'
              },
              radius: 'Radianos'
            },
            marker: {
              tooltip: {
                start: 'Clique no mapa para adicionar uma marca'
              }
            },
            polygon: {
              tooltip: {
                start: 'Clique para começar a desenhar o polígono',
                cont: 'Clique no próximo ponto para continuar',
                end: 'Clique no próximo ponto para continuar, ou em cima do primeiro ponto adicionado para terminar'
              }
            },
            polyline: {
              error: '<strong>Erro:</strong> as linhas que formam o polígono não podem se cruzar',
              tooltip: {
                start: 'Clique para começar a desenhar uma linha',
                cont: 'Clique no próximo ponto para continuar',
                end: 'Clique no próximo ponto para continuar, ou em cima do último ponto adicionado para terminar'
              }
            },
            rectangle: {
              tooltip: {
                start: 'Clique e arraste para desenhar um retângulo'
              }
            },
            simpleshape: {
              tooltip: {
                end: 'Solte o mouse para parar de desenhar'
              }
            }
          }
        },
        edit: {
          toolbar: {
            actions: {
              save: {
                title: 'Concluir as mudanças',
                text: 'Concluir'
              },
              cancel: {
                title: 'Cancelar a edição e apagar todas as mudanças',
                text: 'Cancelar'
              }
            },
            buttons: {
              edit: 'Editar',
              editDisabled: 'Não há o que editar',
              remove: 'Apagar',
              removeDisabled: 'Não há o que apagar'
            }
          },
          handlers: {
            edit: {
              tooltip: {
                text: 'Arraste os pontos ou a marca para editar',
                subtext: 'Clique em cancelar para desfazer'
              }
            },
            remove: {
              tooltip: {
                text: 'Clique no desenho ou na marca para remover'
              }
            }
          }
        }
      };

      // cria o mapa
      var osmUrl = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
        osmAttrib = '&copy; <a href="http://openstreetmap.org/copyright">OpenStreetMap</a> contributors',
        osm = L.tileLayer(osmUrl, {maxZoom: 19, attribution: osmAttrib}),
        map = new L.Map('map', {layers: [osm], center: new L.LatLng( -16.59, -53.13 ), zoom: 4 });

      var drawnItems = new L.FeatureGroup();
      map.addLayer( drawnItems );

      var drawPolygon;
      var groupToZoom = [];

      //L.control.layers({}, {}, { position: 'topleft', collapsed: false }).addTo(map);
      map.addControl(new L.Control.Draw({
        edit: {
          featureGroup: drawnItems,
          poly: {
            allowIntersection: false
          }
        },
        draw: {
          polygon: {
            allowIntersection: false,
            showArea: true
          }
        }
      }));
      map.on(L.Draw.Event.CREATED, function (event) {
        var layer = event.layer;
        drawnItems.addLayer(layer);
      });




      /*
      var geoJSonData = undefined;
      if( geoJSonData != undefined ) {
        var dadosMapa = JSON.parse(geoJSonData);

        for (var i in dadosMapa.location) {
          i = parseInt(i);
          dadosMapa.location[i] = decodeURIComponent(dadosMapa.location[i]);
          dadosMapa.location[i] = dadosMapa.location[i].replace("dados[localizacao]=", "");
        }

        $("#localizacao").val(dadosMapa.location);
        $("#localizacao").multiselect("refresh");
        $("#localizacao").change(function () {
          onMapEvent('locationchange', null);
        });

        $('#nome').val(dadosMapa.name);
        $('#cod').val(dadosMapa.cod);
        for (var i in dadosMapa.polygons) {
          dataToSend.push(dadosMapa.polygons[i]);
          switch (dadosMapa.polygons[i].Type) {
            case "circle":
              drawPolygon = L.circle([dadosMapa.polygons[i].PointsList[1], dadosMapa.polygons[i].PointsList[0]], {radius: dadosMapa.polygons[i].PointsList[2]}).addTo(map);
              drawPolygon["idUnique"] = parseInt(dadosMapa.polygons[i].idUnique);
              drawnItems.addLayer(drawPolygon);
              groupToZoom.push(drawPolygon);
              break;

            case "rectangle":
              drawPolygon = L.rectangle([[dadosMapa.polygons[i].PointsList[0][1], dadosMapa.polygons[i].PointsList[0][0]], [dadosMapa.polygons[i].PointsList[2][1], dadosMapa.polygons[i].PointsList[2][0]]]).addTo(map);
              drawPolygon["idUnique"] = parseInt(dadosMapa.polygons[i].idUnique);
              drawnItems.addLayer(drawPolygon);
              groupToZoom.push(drawPolygon);
              break;

            case "polygon":
              var latlngs = [];
              for (var k in dadosMapa.polygons[i].PointsList) {
                latlngs.push([dadosMapa.polygons[i].PointsList[k][1], dadosMapa.polygons[i].PointsList[k][0]]);
              }
              drawPolygon = L.polygon(latlngs).addTo(map);
              drawPolygon["idUnique"] = parseInt(dadosMapa.polygons[i].idUnique);
              drawnItems.addLayer(drawPolygon);
              groupToZoom.push(drawPolygon);
              break;
          }
          idUnique = Math.max(idUnique, parseInt(dadosMapa.polygons[i].idUnique));
        }
        idUnique += 1;

        if (groupToZoom.length > 0) {
          var group = new L.featureGroup(groupToZoom);
          map.fitBounds(group.getBounds());
        }
      }
      */


      // List of all layers just edited on the map. Triggered when layers in the FeatureGroup; initialised with the
      // plugin; have been edited and saved.
      map.on('draw:edited', function(e) {
        var type = e.layerType,
          layer = e.layer;

        var geoData;
        var inputCoordinates;
        var coordinateList;
        var id;

        for( var layerKey in e.layers._layers ) {

          for ( var sendKey in dataToSend) {
            sendKey = parseInt( sendKey );
            if ( dataToSend[sendKey].idUnique == e.layers._layers[layerKey].idUnique ) {
              type = dataToSend[sendKey].Type;
              break;
            }
          }

          layerKey = parseInt( layerKey );
          id = e.layers._layers[layerKey].idUnique;
          geoData = e.layers._layers[layerKey].toGeoJSON();
          coordinateList = [];

          if (type == "polygon") {
            inputCoordinates = geoData.geometry;

            for (var coordinateKey in inputCoordinates.coordinates) {
              for (var c in inputCoordinates.coordinates[coordinateKey]) {
                coordinateList.push([
                  inputCoordinates.coordinates[coordinateKey][c][0],
                  inputCoordinates.coordinates[coordinateKey][c][1]
                ]);
              }
            }
          }
          else if (type == "marker") {
            inputCoordinates = geoData.geometry.coordinates;
            coordinateList = [
              inputCoordinates[0],
              inputCoordinates[1]
            ];
          }
          else if (type == "rectangle") {
            inputCoordinates = geoData.geometry.coordinates[0];

            //<bottom left coordinates> key 0
            //<upper right coordinates> key 2
            coordinateList = inputCoordinates;
          }
          else if (type == "polyline") {
            coordinateList = geoData.geometry.coordinates;
          }
          else if (type == "circle") {
            coordinateList = [
              geoData.geometry.coordinates[0],
              geoData.geometry.coordinates[1],
              e.layers._layers[layerKey]._mRadius
            ];
          }

          for ( var sendKey in dataToSend) {
            sendKey = parseInt( sendKey );
            if ( dataToSend[sendKey].idUnique == e.layers._layers[layerKey].idUnique ) {
              dataToSend[sendKey].PointsList = coordinateList;
              break;
            }
          }
        }

        onMapEvent( 'edited', type );
      });

      map.on('draw:deleted', function(e) {
        var type = e.layerType;

        for( var layerKey in e.layers._layers ) {
          layerKey = parseInt( layerKey );
          for ( var sendKey in dataToSend) {
            sendKey = parseInt( sendKey );
            if ( parseInt( dataToSend[sendKey].idUnique ) == e.layers._layers[layerKey].idUnique ) {
              delete dataToSend[sendKey];
            }
          }
        }

        var newData = [];
        for( var i in dataToSend ){
          i = parseInt( i );
          if( typeof dataToSend[ i ] == "object" ){
            newData.push( dataToSend[ i ] );
          }
        }

        dataToSend = newData;

        if( dataToSend.length == 0 ){
          ahg.msg_err(_('A cerca deve ter no mínimo um elemento.'));
          onMapEvent( 'emptydata', null );
          return;
        }

        onMapEvent( 'deleted', type );
      });

      map.on('draw:created', function(e) {
        var type = e.layerType,
          layer = e.layer;

        var geoData = layer.toGeoJSON();
        var inputCoordinates;
        var coordinateList = [];

        if ( type == "polygon" ) {
          inputCoordinates = geoData.geometry;

          for( var i in inputCoordinates.coordinates ){
            for( var c in inputCoordinates.coordinates[i] ){
              coordinateList.push([
                inputCoordinates.coordinates[i][c][0],
                inputCoordinates.coordinates[i][c][1]
              ]);
            }
          }
        }
        else if ( type == "marker" ) {
          inputCoordinates = geoData.geometry.coordinates;
          coordinateList = [
            inputCoordinates[0],
            inputCoordinates[1]
          ];
        }
        else if ( type == "rectangle" ) {
          inputCoordinates = geoData.geometry.coordinates[0];

          //<bottom left coordinates> key 0
          //<upper right coordinates> key 2
          coordinateList = inputCoordinates;
        }
        else if ( type == "polyline" ) {
          coordinateList = geoData.geometry.coordinates;
        }
        else if ( type == "circle" ) {
          coordinateList = [
            geoData.geometry.coordinates[0],
            geoData.geometry.coordinates[1],
            layer.options.radius
          ];
        }

        dataToSend.push({
          PointsList: coordinateList,
          Type: type,
          //IdEmpresa: idEmpresa,
          idUnique: idUnique
        });

        layer["idUnique"] = idUnique ++;
        drawnItems.addLayer(layer);

        onMapEvent( 'added', type );
      });


      // The type of layer this is. One of:polyline; polygon; rectangle; circle; marker Triggered when the user has
      // chosen to draw a particular vector or marker.
      map.on('draw:drawstart', function(e) {
        onMapEvent( 'drawstart', null );
      });

      // The type of layer this is. One of: polyline; polygon; rectangle; circle; marker Triggered when the user has
      // finished a particular vector or marker.
      map.on('draw:drawstop', function(e) {
        onMapEvent( 'drawstop', null );
      });

      // The type of edit this is. One of: edit Triggered when the user starts edit mode by clicking the edit tool
      // button.
      map.on('draw:editstart', function(e) {
        onMapEvent( 'editstart', null );
      });

      // The type of edit this is. One of: edit Triggered when the user has finshed editing (edit mode) and saves
      // edits.
      map.on('draw:editstop', function(e) {
        onMapEvent( 'editstop', null );
      });

      // The type of edit this is. One of: remove Triggered when the user starts remove mode by clicking the remove
      // tool button.
      map.on('draw:deletestart', function(e) {
        onMapEvent( 'deletestart', null );
      });

      // The type of edit this is. One of: remove Triggered when the user has finished removing shapes (remove mode)
      // and saves.
      map.on('draw:deletestop', function(e) {
        onMapEvent( 'deletestop', null );
      });




      /*
      L.control.layers({
        'osm': osm.addTo(map),
        "google": L.tileLayer('http://www.google.cn/maps/vt?lyrs=s@189&gl=cn&x={x}&y={y}&z={z}', {
          attribution: 'google'
        })
      }, { 'drawlayer': drawnItems }, { position: 'topleft', collapsed: true }).addTo(map);
      map.addControl(new L.Control.Draw({
        edit: {
          featureGroup: drawnItems,
          poly: {
            allowIntersection: false
          }
        },
        draw: {
          polygon: {
            allowIntersection: false,
            showArea: true
          }
        }
      }));
      */



        var query = window.location.search.substring(1);
        var qs = parse_query_string(query);

//https://gist.github.com/teaforthecat/cd54345e6c0f80de7845
      $.ajax({
        type: "GET",
        //url: "./getPoints/",
        url: "./js.js/" + qs.id,
        //data: JSON.stringify( qs ),
        success: function( data ){
          var latlngs;
          var groupToZoom = [];

          for( var i in data.features ){
            i = parseInt( i );

            //{"type":"FeatureCollection","features":[{"IdParser":"","type":"FeatureCollection","features":[{"type":"Feature","id":"119756326","properties":{"natural":"coastline"},"geometry":
            switch( data.features[ i ].geometry.type ){
                case "MultiPolygon":
                    for( var p in data.features[ i ].geometry.coordinates ){
                        p = parseInt( p );

                        for( var k in data.features[ i ].geometry.coordinates[ p ] ) {
                            k = parseInt( k );
                            latlngs = [];

                            for( var z in data.features[ i ].geometry.coordinates[ p ][ k ] ){
                                z = parseInt( z );
                                latlngs.push( [ data.features[ i ].geometry.coordinates[ p ][ k ][ z ][ 1 ], data.features[ i ].geometry.coordinates[ p ][ k ][ z ][ 0 ] ] );
                            }

                            drawPolygon = L.polygon( [latlngs] ).addTo( map );
                            groupToZoom.push( drawPolygon );
                            drawnItems.addLayer( drawPolygon );
                        }
                    }
                default:
                    drawPolygon = L.geoJSON(data).addTo(map);
                    groupToZoom.push( drawPolygon );
            }
          }

            if (groupToZoom.length > 0) {
                var group = new L.featureGroup(groupToZoom);
                map.fitBounds(group.getBounds());
            }

        },
        dataType: "json"
      });






/*
      var setupLocal = {
        //element: document.getElementById( "d32" ),
        element: map.getPanes().overlayPane,
        mainIconSize: 40,
        mainIcon: "\uf21c",
        radiusOuterPx: 100,
        radiusInnerPx: 50,
        mainIconDX: -25,
        mainIconDY: -20
      };
      var dataLocal = [
        { percentual: 33, icon: '\uf2c8', status: "temperatura", background: "#ff0000", color: "#FFFFFF", size: 30, dx:   0, dy:  0 },
        { percentual: 33, icon: '\uf2a3', status: "mãos",        background: "#00ff00", color: "#FFFFFF", size: 30, dx: -14, dy: -12 },
        { percentual: 33, icon: '\uf243', status: "bateria",     background: "#0000ff", color: "#FFFFFF", size: 20, dx: -14, dy:  0 }
      ];
*/
      //var c = visualCuePieLikeElement( setupLocal, dataLocal );

      // barra de ferramentas
      //var drawnItems = new L.FeatureGroup();
      //map.addLayer( drawnItems );

      // Barra personalizada

      //map.addControl( new optionsControl() );
/*
      // Barra de desenho
      var drawControl = new L.Control.Draw({
        position: 'topleft',
        edit: {
          featureGroup: drawnItems,
          remove: true
        }
      });
*/

      //
      //var guideLayers = [];
      /*drawControl.setDrawingOptions({
        polyline: { guideLayers: guideLayers },
        polygon: { guideLayers: guideLayers, snapDistance: 3 }
      });

      map.addControl(drawControl);*/

      // Prepara os desenhos do mapa para envio
      // Polygon; Rectangle; Circle; Marker | String Layer that was just created. The type of layer this is. One of:
      // polyline; polygon; rectangle; circle; marker Triggered when a new vector or marker has been created.
      /*
      map.on('load', function(e) {
        onMapEvent( 'draw:created', type );
      //map.on(L.Draw.Event.CREATED, function (e) {
        var type = e.layerType,
          layer = e.layer;

        //https://en.wikipedia.org/wiki/GeoJSON
        //var geoData = layer.toGeoJSON();
        var inputCoordinates;
        var coordinateList = [];

        if ( type == "polygon" ) {
          inputCoordinates = geoData.geometry;

          for( var i in inputCoordinates.coordinates ){
            for( var c in inputCoordinates.coordinates[i] ){
              coordinateList.push([
                inputCoordinates.coordinates[i][c][0],
                inputCoordinates.coordinates[i][c][1]
              ]);
            }
          }
        }
        else if ( type == "marker" ) {
          inputCoordinates = geoData.geometry.coordinates;
          coordinateList = [
            inputCoordinates[0],
            inputCoordinates[1]
          ];
        }
        else if ( type == "rectangle" ) {
          inputCoordinates = geoData.geometry.coordinates[0];

          //<bottom left coordinates>
          coordinateList.push([
            inputCoordinates[0][0],
            inputCoordinates[0][1]
          ]);
          //<upper right coordinates>
          coordinateList.push([
            inputCoordinates[2][0],
            inputCoordinates[2][1]
          ]);
        }
        else if ( type == "polyline" ) {
          coordinateList = geoData.geometry.coordinates;
        }
        else if ( type == "circle" ) {
          coordinateList = [
            geoData.geometry.coordinates[0],
            geoData.geometry.coordinates[1],
            layer.options.radius
          ];
        }

        dataToSend.PointsList.push( coordinateList );
        dataToSend.Type.push( type );

        onMapEvent( 'added', type );

        drawnItems.addLayer(layer);
      });*/

      map.on('click', function(Event) {
        onMapEvent( Event, 'click' );
      });

      map.on('zoomlevelschange', function( Event ) {
        onMapEvent( Event, 'zoomlevelschange' );
      });

      map.on('resize', function( ResizeEvent ) {
        onMapEvent( ResizeEvent, 'resize' );
      });

      map.on('unload', function( Event ) {
        onMapEvent( Event, 'unload' );
      });

      map.on('viewreset', function( Event ) {
        onMapEvent( Event, 'viewreset' );
      });

      map.on('load', function( Event ) {
        onMapEvent( Event, 'load' );
      });

      map.on('zoomstart', function( Event ) {
        onMapEvent( Event, 'zoomstart' );

      });

      map.on('movestart', function( Event ) {
        onMapEvent( Event, 'movestart' );
      });

      map.on('zoom', function( Event ) {
        onMapEvent( Event, 'zoom' );

      });

      map.on('move', function( Event ) {
        onMapEvent( Event, 'move' );

      });

      map.on('zoomend', function( Event ) {
        onMapEvent( Event, 'zoomend' );

      });

      map.on('moveend', function( Event ) {
        onMapEvent( Event, 'moveend' );

      });

      // List of all layers just edited on the map. Triggered when layers in the FeatureGroup; initialised with the
      // plugin; have been edited and saved.
      map.on('draw:edited', function(e) {

      });

      // List of all layers just removed from the map. Triggered when layers have been removed (and saved) from the
      // FeatureGroup.
      map.on('draw:deleted', function(e) {

      });

      // The type of layer this is. One of:polyline; polygon; rectangle; circle; marker Triggered when the user has
      // chosen to draw a particular vector or marker.
      map.on('draw:drawstart', function(e) {

      });

      // The type of layer this is. One of: polyline; polygon; rectangle; circle; marker Triggered when the user has
      // finished a particular vector or marker.
      map.on('draw:drawstop', function(e) {

      });

      // List of all layers just being added from the map. Triggered when a vertex is created on a polyline or
      // polygon.
      map.on('draw:drawvertex', function(e) {

      });

      // The type of edit this is. One of: edit Triggered when the user starts edit mode by clicking the edit tool
      // button.
      map.on('draw:editstart', function(e) {

      });

      // Layer that was just moved. Triggered as the user moves a rectangle; circle or marker.
      map.on('draw:editmove', function(e) {

      });

      // Layer that was just moved. Triggered as the user resizes a rectangle or circle.
      map.on('draw:editresize', function(e) {

      });

      // List of all layers just being edited from the map. Triggered when a vertex is edited on a polyline or
      // polygon.
      map.on('draw:editvertex', function(e) {

      });

      // The type of edit this is. One of: edit Triggered when the user has finshed editing (edit mode) and saves
      // edits.
      map.on('draw:editstop', function(e) {

      });

      // The type of edit this is. One of: remove Triggered when the user starts remove mode by clicking the remove
      // tool button.
      map.on('draw:deletestart', function(e) {

      });

      // The type of edit this is. One of: remove Triggered when the user has finished removing shapes (remove mode)
      // and saves.
      map.on('draw:deletestop', function(e) {

      });
      /*
      $( ".getPoints" ).click(function() {
        $('.ui.sidebar').sidebar('hide');
        //$(".leaflet-draw-draw-polygon").show();
        drawControl._toolbars[L.DrawToolbar.TYPE]._modes.polygon.handler.enable()
      });

      $( ".viewBatidas" ).click(function() {
        $('.ui.sidebar').sidebar('hide');
        getBatidas( map );
      });

      $( ".viewPoints" ).click(function() {
        $('.ui.sidebar').sidebar('hide');

        getPoints( map );
      });

      $('.accordion').accordion({selector: {trigger: '.title'}});*/
    });

</script>
<!--script src="./static/js/visual.cue.d3js/apagar.js"></script-->
</body>
</html>{{end}}