{{define "index"}}<!doctype html>
<html lang="en">
<head>
  <link rel="stylesheet" href="./static/font/Font-Awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://openlayers.org/en/v4.1.1/css/ol.css" type="text/css">
  <style>
    .map {
      height: 100%;
      width: 100%;
    }

    div.tooltip {
      position: absolute;
      text-align: center;
      width: 160px;
      height: 28px;
      padding: 2px;
      font: 12px sans-serif;
      background: lightsteelblue;
      border: 0px;
      border-radius: 8px;
      pointer-events: none;
    }
  </style>
  <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL"></script>
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script src="https://d3js.org/d3-geo.v1.min.js"></script>
  <script src="https://openlayers.org/en/v4.2.0/build/ol.js" type="text/javascript"></script>
  <script src="https://d3js.org/d3-geo.v1.min.js"></script>

  <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL"></script>
  <script src="https://openlayers.org/en/v4.2.0/build/ol.js"></script>
  <script src="https://d3js.org/topojson.v1.min.js"></script>

  <script src="./static/js/visual.cue.d3js/util.js"></script>
  <script src="./static/js/visual.cue.d3js/visualCuePie.js"></script>
  <title>OpenLayers example</title>
</head>
<body>
<div id="d31"></div>
<div id="d32"></div>
<div id="map" class="map"></div>
<script type="text/javascript">


  d3.json('https://openlayers.org/en/v4.2.0/examples/data/topojson/us.json', function(error, us) {
    var features = topojson.feature(us, us.objects.counties);
    var canvasFunction = function (extent, resolution, pixelRatio, size, projection) {
      //console.log("extent:", extent);
      //console.log("resolution:", resolution);
      //console.log("pixelRatio:", pixelRatio);
      //console.log("size:", size);
      //console.log("projection:", projection);

      var canvasWidth = size[0];
      var canvasHeight = size[1];

      var canvas = d3.select(document.createElement('canvas'));
      canvas.attr('width', canvasWidth).attr('height', canvasHeight);

      var context = canvas.node().getContext('2d');

      var d3Projection = d3.geoMercator().scale(1).translate([0, 0]);
      var d3Path = d3.geoPath().projection(d3Projection);

      var pixelBounds = d3.geoBounds(features);
      var pixelBoundsWidth = pixelBounds[1][0] - pixelBounds[0][0];
      var pixelBoundsHeight = pixelBounds[1][1] - pixelBounds[0][1];

      var geoBounds = d3.geoBounds(features);
      var geoBoundsLeftBottom = ol.proj.transform(
        geoBounds[0], 'EPSG:4326', projection);
      var geoBoundsRightTop = ol.proj.transform(
        geoBounds[1], 'EPSG:4326', projection);
      var geoBoundsWidth = geoBoundsRightTop[0] - geoBoundsLeftBottom[0];
      if (geoBoundsWidth < 0) {
        geoBoundsWidth += ol.extent.getWidth(projection.getExtent());
      }
      var geoBoundsHeight = geoBoundsRightTop[1] - geoBoundsLeftBottom[1];

      var widthResolution = geoBoundsWidth / pixelBoundsWidth;
      var heightResolution = geoBoundsHeight / pixelBoundsHeight;
      var r = Math.max(widthResolution, heightResolution);
      var scale = r / (resolution / pixelRatio);

      var center = ol.proj.transform(ol.extent.getCenter(extent),
        projection, 'EPSG:4326');
      d3Projection.scale(scale).center(center)
      .translate(canvasWidth / 2, canvasHeight / 2);
      d3Path = d3Path.projection(d3Projection).context(context);
      d3Path(features);
      context.stroke();

      return canvas._groups[0][0];
    };

    var map = new ol.Map({
      target: 'map',
      layers: [
        new ol.layer.Tile({
          source: new ol.source.OSM()
        })
      ],
      view: new ol.View({
        center: ol.proj.fromLonLat([-48.464783, -27.4287986]),
        zoom: 17
      })
    });

    var layer = new ol.layer.Image({
      source: new ol.source.ImageCanvas({
        canvasFunction: canvasFunction,
        projection: 'EPSG:3857'
      })
    });
    map.addLayer(layer);
  });








</script>
<script src="./static/js/visual.cue.d3js/apagar.js"></script>
</body>
</html>{{end}}